body {
  display: inline-block;
  width: 1440px;
  background-color: teal;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-title {
  text-align: center;
}
.input {
  display: flex;
  margin: 0 auto;
  background-color: grey;
  border: 3px solid greenyellow;
  border-radius: 4px;
  width: 300px;
  height: 40px;
}

input::-webkit-input-placeholder {
  color: whitesmoke;
}

.input:focus {
  outline: none;
  background-color: whitesmoke;
  border: 1px solid tomato;
  color: tomato;
}

.card-body {
  text-align: center;
}

.country-card {
  // display: flex;
  width: auto;
}
.card {
  // margin: 0 10px;
  // width: 100%;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.card-img {
  display: flex;
  justify-content: center;
}
.country-list {
  text-align: center;
  list-style: none;
}
.list-item {
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
}
